{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户主页{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/home.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/home")
</script>
{% endblock %}

{% block body %}
<div class="body">
<div class="head_box">
	{% if not scarf %}
		<div class="lf_box">
			<div class="head">
				{% if scarf.user.sex == 'male' %}
	                <img src="{{ asset("asset/img/header.jpg") }}">
	            {% else %}
	                <img src="{{ asset("asset/img/touxiang2.jpg") }}">
	            {% endif %}
				<div>{{ scarf.user.username }}</div>
			</div>
			<div class="lf_info">
				<div class="thx_tit">{{ scarf.user.username }} TO {{ scarf.myInfo.username }}的<span>感谢信</span></div>
				<div class="thx_info">{{ scarf.content|raw }}</div>
			</div>
		</div>
	{% else %}
		<div class="lf_box">
		还没有收到任何感谢信
		</div>
	{% endif %}
</div>
<div class="menu">
	<div class="menu1">红领巾小队</div>
	<div class="menu_box">
		<div class="menu2">我是失主</div>
		<div class="menu_box2">
			<div class="menu3">我是拾主</div>
			<div class="menu4">我的信息</div>
		</div>
	</div>
</div>
</div>
{% include 'Web/Views/public/bottom.html.twig' %} 
{% endblock %}