{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户主页{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/login.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/home")
</script>
{% endblock %}

{% block body %}
<div class="lf_box">
    <div class="head">
        <img src="{{ asset("asset/img/logo.png") }}">
    </div>
    <div class="lf_info">
        <span>{{ user.username }}</span>
    </div>
</div>
{% include 'Web/Views/public/bottom.html.twig' %} 
{% endblock %}