{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户主页{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/login.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block body %}
<div class="lf_box">
    <div class="head">
        <img src="{{ asset("asset/img/logo.png") }}">
    </div>
    <div class="lf_info">
        <span>{{ user.username }}</span>
    </div>
</div>
<div class="but_tab">
    <div class="tab_box1"></div>
    <div class="tab_box2"></div>
    <div class="tab_box3"></div>
    <div class="tab_box4"></div>
</div>
{% endblock %}