{% extends 'Web/Views/layout.html.twig' %}

{% block title %}个人中心{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/personal.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/home")
    seajs.use("/asset/js/info")
</script>
{% endblock %}

{% block body %}
<ul class="per_list">
    <li class="list-changeInfo" data-id="{{user.uid}}">我的资料</li>
    {#<li>荣誉勋章</li>#}
    <li class="list-help">我的求助</li>
    <li class="list-collect">收藏夹</li>
    <li class="list-friends">好友</li>
    <li class="list-messages">消息 {% if messageNum %}<span class="badge">{{ messageNum }}</span>{% endif %}</li>
    {#<li>设置</li>#}
</ul>
<div class="feed_back">退出登录</div>
{% include 'Web/Views/public/bottom.html.twig' %} 
{% endblock %}