{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户登陆{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/login.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/login")
</script>
{% endblock %}

{% block body %}
<div class="logo">
    <img src="{{ asset("asset/img/logo.png") }}" >
</div>
<div class="title">I am a good man.</div>

<form class="login_box" id="login-form">

    
    <div class="row mr0 ml0 info" {% if not messages %}style="display:none;" {% endif %}>
        <div class="alert alert-info fz14" role="alert">
            {% if messages %}
                {% for message in messages %}
                    {{ message.0 }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
    
    <div class="input_box" id="name_box">
        <div class="input_name">邮箱</div>
        <div class="input">
            <input type="text" name="email" placeholder="请输入邮箱">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">密码</div>
        <div class="input">
            <input type="password" name="password" placeholder="请输入密码">
        </div>
    </div>
    <div class="forget">忘记密码</div>
    <div class="login_but">登&nbsp&nbsp&nbsp录</div>
    <div class="header_box">
        <img src="{{ asset("asset/img/header.jpg") }}">
        <div>哎呀！好帅~</div>
    </div>
</form>
<div class="reg_box">
    <div class="warn_go">没有账号</div>
    <div class="go_reg">立即注册</div>
</div>
{% endblock %}