{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户注册{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/login.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block body %}
<div class="logo">
    <img src="{{ asset("asset/img/logo.png") }}" >
</div>
<div class="title">I am a good man.</div>
<div class="login_box">
    <div class="input_box" id="name_box">
        <div class="input_name">姓名</div>
        <div class="input">
            <input type="text" name="login_name" placeholder="请输入姓名">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">邮箱</div>
        <div class="input">
            <input type="text" name="login_name" placeholder="请输入密邮箱">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">登录密码</div>
        <div class="input">
            <input type="text" name="login_name" placeholder="请输入登录密码">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">确认密码</div>
        <div class="input">
            <input type="text" name="login_name" placeholder="请确认密码">
        </div>
    </div>
    <div class="header_box">
        <img src="{{ asset("asset/img/header.jpg") }}">
        <div>选一张迷人帅气的头像吧。</div>
    </div>
    <div class="register_but">注&nbsp&nbsp&nbsp册</div>
</div>
<div class="reg_box">
    <div class="warn_go">已有账号</div>
    <div class="go_log">立即登录</div>
</div>
{% endblock %}