{% extends 'Web/Views/layout.html.twig' %}

{% block title %}用户注册{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/public.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/login.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ asset("asset/css/WebApp_reset.css") }}" />
{% endblock %}

{% block head_scripts %}
<script>
    seajs.use("/asset/js/register")
</script>
{% endblock %}

{% block body %}
<div class="logo">
    <img src="{{ asset("asset/img/logo.png") }}" >
</div>
<div class="title">I am a good man.</div>
<form class="login_box" id="register-form">

    <div class="row mr0 ml0 info" style="display:none;">
        <div class="alert alert-info fz14" role="alert">
        </div>
    </div>

    <div class="input_box" id="name_box">
        <div class="input_name">昵称</div>
        <div class="input">
            <input type="text" name="username" placeholder="请输入昵称">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">邮箱</div>
        <div class="input">
            <input type="text" name="email" placeholder="请输入邮箱">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">登录密码</div>
        <div class="input">
            <input type="password" name="password" placeholder="请输入登录密码">
        </div>
    </div>
    <div class="input_box" id="pas_box">
        <div class="input_name">确认密码</div>
        <div class="input">
            <input type="password" name="rePassword" placeholder="请确认密码">
        </div>
    </div>
    <div class="header_box">

         <label for="male"><img src="{{ asset("asset/img/header.jpg") }}"></label>
         <input type="radio" name="sex" value="male" id="male" checked="checked">
        
        <label for="female"><img src="{{ asset("asset/img/touxiang2.jpg") }}"></label>
        <input type="radio" name="sex" value="female" id="female">
        <div>你是MM还是GG？选一张迷人帅气的头像吧。</div>
    </div>
    <div class="register_but">注&nbsp&nbsp&nbsp册</div>

</form>
<div class="reg_box">
    <div class="warn_go">已有账号</div>
    <div class="go_log" >立即登录</div>
</div>
{% endblock %}